@import "tailwindcss";

@font-face {
    font-family: Outfit_light;
    src: url(./Fonts/static/Outfit-Light.ttf);
}
@theme {
    --color-bg-main : #10141E;
    --color-semi-dark-blue : #161D2F;
    --color-cl-red: #FC4747;
    --font-Outfit_light : "Outfit_light";
    --breakpoint-mb: 550px;
    --breakpoint-tablet : 950px;
}
#root{
    overflow-x: hidden;
}

.swiper {
    width: 100%;
    max-width: 1240px;
    height: auto;
    margin: 0 auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-wrapper{
    display: flex;
  }